<div class="main">
    <div fxLayoutAlign="center center">
        <form class="example-form" [formGroup]="songsForm">
            <div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="space-between center">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Search here or add from here"  [(ngModel)]="title" (keyup)="searchSong()"
                        formControlName="title"> 
                    </mat-form-field>
                <button mat-raised-button color="warn" (click)="addSong(songsForm)">Add</button>
            </div>
        </form>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
        <div *ngFor=" let song of playList" fxLayout="column" class="matcard">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="spaces">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <span style="margin-right: 8px"> 🎵 </span>
                    <span>
                        <p>{{song .title.substr(0,30)}}</p>
                    </span>
                </div>
                <button color="warn" mat-button (click)="deleteSong(song._id)">Delete</button>
            </div>
        </div>
    </div>
</div>