/* For Mat Card */
/* mat-card {
  padding: 2% 10% 2% 10%;
} */

.main {
  margin-top: 5em;
}

/* For input */

.example-form {
  min-width: 150px;
  max-width: 320px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.spaces {
  margin-bottom: 5%;
  border: 2px groove;
  line-height: 10px;
}
